.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
}
  
.header {
    text-align: center;
}
  
.section {
    margin-bottom: 30px;
    flex: 1;
}
  
.leaderboard {
    list-style-type: none;
    padding: 0;
}
  
.leaderboardEntry {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    margin-left: -150px;
}
  
.leaderboardInfo {
    display: flex;
    flex-direction: column;
}
  
.leaderboardName {
    font-weight: bold;
}
  
.leaderboardPoints {
    color: #888;
}
.leaderboardSection {
    text-align: left; 
}
.leaderboardSection h2 {
    margin-top: 30px; 
    margin-left: -150px;
}
.progressSection {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
    margin-left: 20px;
    height: 50%;
}
  
.progressItem {
    margin: 10px 0;
    padding: 5px;
}